@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&family=Sen:wght@400;500;600;700&display=swap');

:root{
    --max-width: 1440px;
    --bg-color: #FAF8ED;
    /* FONT-FAMILY */
    --font-primary: 'Sen';
    --font-secondary: 'Inter';
    --font-nav-links: 'Poppins';
    /* FONT-SIZE */
    --fs-xxl: 84px;
    --fs-xl: 56px;
    --fs-lg: 26px;
    --fs-md: 18px;
    --fs-sm: 16px;
    --fs-xsm: 12px;
    /* COLORS */
    --font-color-primary: #2D3134;
    --font-color-secondary: #5B5F62;
    --font-color-nav-links: #2E476B;
    /* MARGINS */
    --nav-links-margin: 36px;
    --header-padding-bottom: 54px;
    --header-main-margin: 80px;
    /* PADDING */
    --section-1-padding-bottom: 32px;
    /* TRANSITION */
    --transition-speed: 300ms;
}

*{
    box-sizing: border-box !important;
    text-decoration: none !important;
    list-style-type: none !important;
}

html, body{
    background-color: var(--bg-color);
}