@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&family=Sen:wght@400;500;600;700&display=swap');

:root {
    --max-width: 1440px;
    --bg-color: #FAF8ED;
    /* FONT-FAMILY */
    --font-primary: 'Sen';
    --font-secondary: 'Inter';
    --font-nav-links: 'Poppins';
    /* FONT-SIZE */
    --fs-xxl: 84px;
    --fs-xl: 56px;
    --fs-lg: 26px;
    --fs-md: 18px;
    --fs-sm: 16px;
    --fs-xsm: 12px;
    /* COLORS */
    --font-color-primary: #2D3134;
    --font-color-secondary: #5B5F62;
    --font-color-nav-links: #2E476B;
    /* MARGINS */
    --nav-links-margin: 36px;
    --header-main-margin: 80px;
    --section-1-2-margin: 58px;
    --section-3-2-margin: 32px;
    --section-4-3-margin: 53px;
    --section-5-4-margin: 37px;
    --section-5-6-margin: 28px;
    --footer-margin: 16px;
    /* PADDING */
    --section-1-padding-bottom: 32px;
    --section-2-padding: 50px;
    --section-3-padding: 50px;
    --section-4-padding: 37px;
    --section-5-padding: 66px;
    --section-6-padding: 46px;
    --header-padding-bottom: 54px;
    --footer-padding: 80px;
    /* TRANSITION */
    --transition-speed: 300ms;
}

* {
    box-sizing: border-box !important;
    text-decoration: none !important;
    list-style-type: none !important;
}

html,
body {
    background-color: var(--bg-color);
    scroll-behavior: smooth;
}