@import './root.css';

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

nav{
    padding: 24px 0;
}

.nav-links{
    margin-right: var(--nav-links-margin);
    color: var(--font-color-nav-links);
    font-family: var(--font-nav-links), sans-serif;
    font-size: var(--fs-sm);
    position: relative;
}

.nav-links::after{
    content: "";
    height: 2px;
    background-color: #F66F4D;
    width: 25%;
    position: absolute;
    bottom: -6px;
    left: 0;
    opacity: 0;
    transition: all 300ms;
    pointer-events: none;
}

.nav-links:hover::after, .nav-links:focus::after{
    opacity: 1;
}

.nav-button{
    font-family: var(--font-nav-links), sans-serif;
    font-size: var(--fs-sm);
    color: #F66F4D;
    border: 1.4px solid #F66F4D;
    background-color: transparent;
    border-radius: 27px;
    padding: 19px 34px;
    transition: all 300ms;
}

.nav-button:hover{
    background-color: #F66F4D;
    color: var(--bg-color);
    border-color: var(--bg-color);
}

svg>path{
    transition: all 300ms;
}

.nav-button:hover svg>path{
    fill: var(--bg-color);
}

.mt-24{
    margin-top: 24px;
}

.mt-44{
    margin-top: 44px;
}

.hero-section-heading{
    font-family: var(--font-primary), sans-serif;
    font-size: var(--fs-xxl);
    color: var(--font-color-primary);
}

.hero-section-para{
    font-family: var(--font-secondary), sans-serif;
    font-size: var(--fs-md);
    color: var(--font-color-secondary);
    max-width: 90%;
}

.hero-section-search-menu{
    border-radius: 38px;
    background-color: white;
    padding: 11px 0;
    max-width: 90%;
}

label{
    display: block;
}