@import './root.css';

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

nav {
    padding: 24px 0;
}

.nav-links {
    margin-right: var(--nav-links-margin);
    color: var(--font-color-nav-links);
    font-family: var(--font-nav-links), sans-serif;
    font-size: var(--fs-sm);
    position: relative;
}

.nav-links::after {
    content: "";
    height: 2px;
    background-color: #F66F4D;
    width: 25%;
    position: absolute;
    bottom: -6px;
    left: 0;
    opacity: 0;
    transition: all var(--transition-speed);
    pointer-events: none;
}

.nav-links:hover::after,
.nav-links:focus::after {
    opacity: 1;
}

.nav-button {
    font-family: var(--font-nav-links), sans-serif;
    font-size: var(--fs-sm);
    color: #F66F4D;
    border: 1.4px solid #F66F4D;
    background-color: transparent;
    border-radius: 27px;
    padding: 19px 34px;
    transition: all var(--transition-speed);
}

.nav-button:hover {
    background-color: #F66F4D;
    color: var(--bg-color);
    border-color: transparent;
}

svg>path {
    transition: all var(--transition-speed);
}

.nav-button:hover svg>path {
    fill: var(--bg-color);
}

.mt-24 {
    margin-top: 24px;
}

.mt-44 {
    margin-top: 44px;
}

.hero-section-heading {
    font-family: var(--font-primary), sans-serif;
    font-size: var(--fs-xxl);
    color: var(--font-color-primary);
}

.hero-section-para {
    font-family: var(--font-secondary), sans-serif;
    font-size: var(--fs-md);
    color: var(--font-color-secondary);
    max-width: 90%;
}

.hero-section-search-menu {
    border-radius: 38px;
    background-color: #FDFEFF;
    padding: 11px 16px 11px 28px;
    max-width: 90%;
}

header label {
    display: block;
    font-family: var(--font-secondary), sans-serif;
    font-size: var(--fs-md);
    color: var(--font-color-primary);
}

header label,
header input {
    width: 75%;
    border: none;
}

header input:focus {
    outline: none;
}

header input::placeholder {
    font-family: var(--font-secondary), sans-serif;
    font-weight: 400;
    font-size: var(--fs-xsm);
    color: #9498A4;
}

.form-1 {
    border-right: 1px solid #EAEAEB;
}

header {
    padding-bottom: var(--header-padding-bottom);
}

main {
    margin-top: var(--header-main-margin);
}

h2 {
    font-family: var(--font-secondary), sans-serif;
    font-size: var(--fs-xl);
    color: var(--font-color-primary);
}

#section-1 {
    padding-bottom: var(--section-1-padding-bottom);
}

#section-1 p {
    font-family: var(--font-secondary), sans-serif;
    color: var(--font-color-secondary);
    font-size: var(--fs-sm);
    width: 33%;
}

.slider-1 {
    margin-top: 60px;
}

.slider-1-img {
    border-radius: 85px;
}

.overlay {
    position: absolute;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 85px;
    opacity: 0;
    transition: all var(--transition-speed);
}

.image-box:hover .overlay {
    opacity: 1;
}

.image-box-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: var(--font-secondary), sans-serif;
    font-size: 20px;
    opacity: 0;
    transition: all var(--transition-speed);
}

.image-box:hover .image-box-text {
    opacity: 1;
}

.image-box-span {
    font-family: var(--font-secondary), sans-serif;
    font-size: var(--fs-lg);
    color: var(--font-color-primary);
}

#section-6 {
    margin-top: var(--section-5-6-margin);
    padding: var(--section-6-padding) 0;
}

.yellow-box {
    background-color: #FFD482;
    padding: 75px 0;
    border-radius: 30px;
}

#section-6 h3 {
    font-family: var(--font-secondary), sans-serif;
    font-size: 40px;
    color: var(--font-color-primary);
}

#section-6 p {
    width: 37%;
    font-family: var(--font-secondary), sans-serif;
    font-size: var(--fs-sm);
    color: var(--font-color-secondary);
}

.email::placeholder {
    font-family: var(--font-secondary), sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--font-color-secondary);
    opacity: 0.4;
}

.email {
    width: 90%;
    border: none;
    margin-bottom: 6px;
}

.email:focus {
    outline: none;
}

.search-box {
    width: 40%;
    background-color: #FFFFFF;
    padding: 10px 12px 0px 26px;
    border-radius: 12px;
}

.white-lines {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

footer {
    margin-top: var(--footer-margin);
    padding-bottom: var(--footer-padding);
    padding-top: var(--footer-padding);
}

.text-salty {
    font-family: var(--font-primary), sans-serif;
    color: var(--font-color-primary);
    font-size: 20px;
    margin-left: 6px;
}

.footer-col-1-p {
    font-family: var(--font-secondary), sans-serif;
    color: var(--font-color-secondary);
    font-size: var(--fs-sm);
    margin-top: 28px;
}

.footer-group-svg {
    margin-top: 40px;
}

.footer-link-head {
    font-family: var(--font-color-secondary), sans-serif;
    color: var(--font-color-primary);
    font-size: var(--fs-md);
    margin-bottom: 14px;
}

.footer-links {
    font-family: var(--font-color-secondary), sans-serif;
    color: #676A6C;
    font-size: 14px;
}

.footer-link-mt {
    margin-top: 18px;
}

footer ul a:hover {
    -webkit-text-stroke: 1px #676A6C;
}

.search-svg{
    cursor: pointer;
}

.search-svg rect,
path {
    transition: all var(--transition-speed);
}

.search-svg:hover rect {
    fill: white;
    stroke: #F66F4D;
}

.search-svg:hover path {
    stroke: #F66F4D;
}

/* STYLES-2 */

.S2-head {
    color: #F66F4D;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 4px;
}

.S2-main-head {
    color: var(--font-color-primary);
    font-family: var(--font-secondary);
    font-size: var(--fs-xl);
    font-style: normal;
    font-weight: 600;
    line-height: 66px;
}

.S2-para {
    color: var(--font-color-secondary);
    font-family: var(--font-secondary);
    font-size: var(--fs-sm);
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.S2-box-head {
    color: #F66F4D;
    font-family: var(--font-secondary);
    font-size: 46px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px;
}

.S2-box {
    padding: 28px;
    border-radius: 14px;
}

.S2-box-para {
    color: #939597;
    font-family: var(--font-secondary);
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
}

.S3-head {
    max-width: 400px;
    color: var(--font-color-primary);
    font-family: var(--font-color-secondary);
    font-size: var(--fs-xl);
    font-style: normal;
    line-height: 66px;
    text-transform: capitalize;
}

.card1 {
    padding: 12px 12px 36px 12px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: #FAF8ED;
    box-shadow: 0px 24px 90px 0px rgba(192, 188, 161, 0.22);
    width: 100%;
    height: 100%;
    margin: 0 15px;
}

.S3-img-radius {
    border-radius: 16px;
}

.section-1-prev,
.section-3-prev,
.section-5-prev {
    margin-right: 16px;
}

.section-1-next,
.section-1-prev,
.section-3-next,
.section-3-prev,
.section-5-next,
.section-5-prev {
    padding: 14px 23px;
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: transparent;
    transition: all var(--transition-speed);
    border-color: var(--font-color-primary);
}

.section-1-next svg,
.section-3-next svg,
.section-5-next svg {
    rotate: 180deg;
}

.section-1-next svg>path,
.section-1-prev svg>path,
.section-3-next svg>path,
.section-3-prev svg>path,
.section-5-next svg>path,
.section-5-prev svg>path {
    /* stroke: var(--bg-color); */
    transition: all var(--transition-speed);
}

.section-1-next:hover svg>path,
.section-1-prev:hover svg>path,
.section-3-next:hover svg>path,
.section-3-prev:hover svg>path,
.section-5-next:hover svg>path,
.section-5-prev:hover svg>path {
    stroke: var(--bg-color);
}

.section-1-next:hover,
.section-1-prev:hover,
.section-3-next:hover,
.section-3-prev:hover,
.section-5-next:hover,
.section-5-prev:hover {
    background-color: var(--font-color-primary);
    border-color: var(--font-color-primary);
}


.destination-slider {
    margin-top: 50px;
    z-index: 2;
    background-color: var(--bg-color);
}

.destination-slider .slick-list {
    overflow: visible;
    padding: 0 20% 0 0;
    position: relative;
}

.destination-slider .slick-list::after {
    content: ' ';
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 4000px;
    right: 100%;
    background-color: #FAF8ED;
}

.S3-slider-head {
    color: var(--font-color-primary);
    font-family: var(--font-secondary);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.S3-slider-para {
    color: var(--font-color-secondary);
    font-family: var(--font-secondary);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

#section-2 {
    padding: var(--section-2-padding) 0;
    margin-top: var(--section-1-2-margin);
}

#section-3 {
    margin-top: var(--section-3-2-margin);
    padding: var(--section-3-padding) 0;
}

#section-4 {
    margin-top: var(--section-4-3-margin);
    padding: var(--section-4-padding) 0;
}

#section-5 {
    margin-top: var(--section-5-4-margin);
    padding: var(--section-5-padding) 0;
}

.slider-rate {
    color: var(--font-color-primary);
    font-family: var(--font-secondary);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.slider-rate-para {
    color: var(--font-color-secondary);
    font-family: var(--font-secondary);
    font-size: var(--fs-sm);
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.slider-book {
    padding: 12px 16px;
    color: #2D3134;
    font-family: var(--font-secondary);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    background-color: transparent;
    border: 1px solid #2D3134;
    border-radius: 46px;
    transition: all var(--transition-speed) linear;
}

.S4-head {
    color: var(--font-color-primary);
    font-family: var(--font-secondary);
    font-size: var(--fs-xl);
    font-style: normal;
    font-weight: 600;
    line-height: 66px;
}

.S4-para {
    color: var(--font-color-secondary);
    font-family: var(--font-secondary);
    font-size: var(--fs-sm);
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.S4-btn {
    padding: 10px 20px;
    border: 1px solid #3D3D3D;
    background-color: transparent;
    color: var(--font-color-primary);
    text-align: center;
    font-family: var(--font-nav-links);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    border-radius: 30px;
    transition: all var(--transition-speed) linear;
}

.S4-btn:hover {
    background-color: var(--font-color-primary);
    color: var(--bg-color);
}

.slider-book:hover {
    background-color: var(--font-color-primary);
    color: var(--bg-color);
}

.grid-box {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 26px;

}

.item1 {
    grid-row: 1/3;
    grid-column: 1/3;
}

.item2 {
    grid-row: 1/5;
    grid-column: 3/6;
}

.item3 {
    grid-row: 1/3;
    grid-column: 6/9;
}

.item4 {
    grid-row: 3/5;
    grid-column: 1/3;
}

.item5 {
    grid-row: 3/5;
    grid-column: 6/7;
}

.item6 {
    grid-row: 3/5;
    grid-column: 7/9;
}

.g-com {
    border-radius: 20px;
    overflow: hidden;
}

.g-com>img {
    height: 100%;
    width: 100%;
    transition: all 200ms linear;
}

.g-com:hover>img {
    transform: scale(1.1);
}

.text {
    bottom: 1%;
    left: 7%;
}

.white-box {
    top: 5%;
    left: 7%;
    width: 42px;
    height: 24px;
    border-radius: 12px;
    background: #FFF;
}

.rate-text {
    color: var(--font-color-primary);
    font-family: var(--font-secondary);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

.rate-text1 {
    color: white;
    font-family: var(--font-secondary);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

.black-box {
    top: 5%;
    left: 7%;
    width: 42px;
    height: 24px;
    border-radius: 12px;
    background: var(--font-color-primary);
}

.card-img-head {
    color: #FFF;
    font-family: var(--font-color-secondary);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.card-img-para {
    color: #FFF;
    font-family: var(--font-secondary);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.S5-head {
    max-width: 467px;
    color: var(--font-color-primary);
    font-family: var(--font-secondary);
    font-size: var(--fs-xl);
    font-style: normal;
    font-weight: 600;
    line-height: 66px;
    text-transform: capitalize;
    position: relative;
}

.S5-para {
    max-width: 473px;
    color: var(--font-color-secondary);
    font-family: var(--font-secondary);
    font-size: var(--fs-md);
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.S5-buttons {
    position: absolute;
    bottom: 15%;
    right: 7%;
}

.S5-slider {
    padding: 12px;
}

.S5-slider-card{
    background-color: #fff;
    padding: 32px 34px 30px 32px;
    border-radius: 14px;
}

.S5-slider-name {
    color: var(--font-color-primary);
    font-family: var(--font-secondary);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.S5-slider-job {
    color: var(--font-color-secondary);
    font-family: var(--font-secondary);
    font-size: var(--fs-xsm);
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
}

.S5-head::before {
    content: '';
    position: absolute;
    width: 67px;
    height: 8px;
    top: -12px;
    left: 0;
    background-color: #FFC982;
    border-radius: 4px;
}

.menu-icon {
    display: none;
}

/* RESPONSIVE */
@media (max-width: 992px) {
    :root {
        /* PADDING */
        --section-1-padding-bottom: 24px !important;
        --section-2-padding: 42px !important;
        --section-3-padding: 42px !important;
        --section-4-padding: 29px !important;
        --section-5-padding: 58px !important;
        --section-6-padding: 38px !important;
        --header-padding-bottom: 46px !important;
        --footer-padding: 60px !important;
        /* FONT-SIZE */
        --fs-xxl: 76px !important;
        --fs-xl: 52px !important;
        --fs-lg: 24px !important;
        --fs-md: 17px !important;
        --fs-sm: 15px !important;
        --fs-xsm: 11px !important;
    }

    .menu {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        right: -100%;
        background: linear-gradient(90deg, rgba(183, 179, 169, 0.36), rgba(206, 116, 14, 0.497));
        backdrop-filter: blur(16px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all var(--transition-speed);
        visibility: hidden;
        opacity: 0;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 12px;
    }

    .nav-links {
        margin: 0;
        margin-bottom: 6px;
    }

    .menu-icon {
        display: block;
        position: relative;
        height: 20px;
        width: 20px;
        cursor: pointer;
        z-index: 2;
    }

    .menu-icon>span {
        content: "";
        display: block;
        position: relative;
        width: 20px;
        height: 5px;
        top: 50%;
        background-color: var(--font-color-primary);
        border-radius: 5px;
        transition: all var(--transition-speed);
    }

    .menu-icon>span::before {
        content: "";
        position: absolute;
        display: block;
        width: 20px;
        height: 5px;
        top: 7px;
        background-color: var(--font-color-primary);
        border-radius: 5px;
        transition: all var(--transition-speed);
    }

    .menu-icon>span::after {
        content: "";
        position: absolute;
        display: block;
        width: 20px;
        height: 5px;
        top: -7px;
        background-color: var(--font-color-primary);
        border-radius: 5px;
        transition: all var(--transition-speed);
    }

    .active>span {
        background-color: transparent;
    }

    .active>span::before {
        top: 0;
        transform: rotate(-45deg);
    }

    .active>span::after {
        top: 0;
        transform: rotate(45deg);
    }

    /* GRID */
    .item1 {
        grid-row: 1/3;
        grid-column: 1/3;
    }

    .item2 {
        grid-row: 1/5;
        grid-column: 3/6;
    }

    .item3 {
        grid-row: 5/7;
        grid-column: 1/6;
    }

    .item4 {
        grid-row: 3/5;
        grid-column: 1/3;
    }

    .item5 {
        grid-row: 7/9;
        grid-column: 1/3;
    }

    .item6 {
        grid-row: 7/9;
        grid-column: 3/6;
    }

    .hero-section-search-menu {
        max-width: 100%;
        padding: 11px 8px 11px 28px;
        margin-bottom: 24px;
    }

    #section-1 p,
    #section-6 p,
    .search-box {
        width: 50% !important;
    }

    .footer-group-svg{
        margin-top: 32px !important;
    }
}

@media (max-width: 768px) {

    :root {
        /* PADDING */
        --section-1-padding-bottom: 16px !important;
        --section-2-padding: 32px !important;
        --section-3-padding: 32px !important;
        --section-4-padding: 20px !important;
        --section-5-padding: 48px !important;
        --section-6-padding: 30px !important;
        --header-padding-bottom: 36px !important;
        --footer-padding: 50px !important;
        /* FONT-SIZE */
        --fs-xxl: 68px !important;
        --fs-xl: 48px !important;
        --fs-lg: 22px !important;
        --fs-md: 16px !important;
        --fs-sm: 14px !important;
        --fs-xsm: 10px !important;
    }

    .section-1-next,
    .section-1-prev,
    .section-3-next,
    .section-3-prev,
    .section-5-next,
    .section-5-prev {
        display: none !important;
    }

    #section-1 p,
    #section-6 p,
    .search-box {
        width: 60% !important;
    }

        .footer-group-svg {
            margin-top: 24px !important;
        }
}

@media (max-width: 576px) {

    :root {
        /* PADDING */
        --section-1-padding-bottom: 8px !important;
        --section-2-padding: 24px !important;
        --section-3-padding: 24px !important;
        --section-4-padding: 12px !important;
        --section-5-padding: 32px !important;
        --section-6-padding: 22px !important;
        --header-padding-bottom: 28px !important;
        --footer-padding: 40px !important;
        /* FONT-SIZE */
        --fs-xxl: 62px !important;
        --fs-xl: 44px !important;
        --fs-lg: 20px !important;
        --fs-md: 15px !important;
        --fs-sm: 13px !important;
        --fs-xsm: 9px !important;
    }

    /* GRID */
    .g-com:hover>img {
        transform: scale(1);
    }

    .item1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .item2 {
        grid-row: 2/4;
        grid-column: 1/2;
    }

    .item3 {
        grid-row: 4/6;
        grid-column: 1/2;
    }

    .item4 {
        grid-row: 6/7;
        grid-column: 1/2;
    }

    .item5 {
        grid-row: 7/8;
        grid-column: 1/2;
    }

    .item6 {
        grid-row: 8/9;
        grid-column: 1/2;
    }

    #section-1 p,
    #section-6 p,
    .search-box {
        width: 80% !important;
    }

    footer ul li{
        text-align: center;
    }

        .footer-group-svg {
            margin-top: 16px !important;
        }
}

@media (max-width: 370px) {
    :root {
        /* PADDING */
        --section-1-padding-bottom: 0 !important;
        --section-2-padding: 12px !important;
        --section-3-padding: 12px !important;
        --section-4-padding: 6px !important;
        --section-5-padding: 16px !important;
        --section-6-padding: 12px !important;
        --header-padding-bottom: 14px !important;
        --footer-padding: 20px !important;
        /* FONT-SIZE */
        --fs-xxl: 54px !important;
        --fs-xl: 40px !important;
        --fs-lg: 18px !important;
        --fs-md: 14px !important;
        --fs-sm: 12px !important;
        --fs-xsm: 8px !important;
    }

    #section-1 p,
    #section-6 p,
    .search-box {
        width: 90% !important;
    }

        .footer-group-svg {
            margin-top: 8px !important;
        }
}